<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Container</title>
  </head>
  <body style="background-color:#D3D3D3;">

    <div class="container">

        <a class="btn btn-primary mb-3 mt-5" href="/" role="button">Voltar ao Ínicio</a>
        <h1 class="form-group input-group mb-3 mt-3">Adicionar Conteiner</h1>

        <span id="msgAlert"></span>

        <form action="/add_container" method="POST" id="formulario" name="formulario">

            <div class="form-group input-group mb-3 mt-5 ">

                <span class="input-group-text">Cliente</span>
                <input style="text-transform: Upcase;"   type="text" class="form-control" id="cliente" aria-describedby="emailHelp" placeholder="Cliente" name="cliente">
                
            </div>


            <div class="form-group input-group mb-3 mt-3">

                <span class="input-group-text">Número Container</span>
                <input style="text-transform: upcase;"  type="text" maxlength="11" pattern="[A-Z]{4}[0-9]{7}" class="form-control"  aria-describedby="emailHelp" placeholder="TEST1234567" name="numero" id="numero">
                
            </div>


            <div class="form-group input-group mb-3">
                <span class="input-group-text">Tipo Container</span>
                <select class="form-control" name="tipo" id="tipo">
                    <option value=""> Escolha o tipo</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                </select>
            </div>
            

            <div class="form-group input-group mb-3">    
                <span class="input-group-text">Status</span>
                    <select class="form-control" name="status" id="status">
                        <option value="">status</option>
                        <option value="cheio">Cheio</option>
                        <option value="vazio">vazio</option>
                    </select>
            </div>

            <div class="form-group input-group mb-3">

                    <span class="input-group-text">Categoria</span>
                    <select class="form-control" name="categoria" id="categoria">
                        <option value=""> Escolha a Categoria</option>
                        <option value="Importação">Importação</option>
                        <option value="Exportação">Exportação</option>
                    </select>

                </div>

                    <button type="submit"  class="btn btn-primary">Enviar</button>

            </div>
            
        </form>
        

    </div>
    
    

<script>


    const formulario =  document.querySelector("#formulario");

    formulario.onsubmit = evento => {

        var cliente = document.querySelector("#cliente").value;
        
        if( cliente === ""){

            evento.preventDefault();
            document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Cliente!</p>";
            return;

        }



        var numero = document.querySelector("#numero").value;
        
        if( numero === ""){

            evento.preventDefault();
            document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Número Container!</p>";
            return;

        }

        var tipo = document.querySelector("#tipo").value;
        
        if( tipo === ""){

            evento.preventDefault();
            document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Tipo Container!</p>";
            return;

        }
        
        var status = document.querySelector("#status").value;
        
        if( status === ""){

            evento.preventDefault();
            document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Status!</p>";
            return;

        }

        var categoria = document.querySelector("#categoria").value;
        
        if( categoria === ""){

            evento.preventDefault();
            document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Categoria!</p>";
            return;

        }

    }


    
</script>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>