<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>


    
    
    <title>Movimentar</title>



  </head>
  <body style="background-color:#D3D3D3;">
    

    <div class="container">

        

        <h1 class="m-2 text-center">Movimentar</h1>

        <span class="text-center" id="msgAlert"></span>

        <form action="/add_movimento" method="post" id="formulario">

          <a class="btn btn-secondary ml-3 mb-4 " style="width: 200px;" href="/" >Voltar ao Ínicio</a>

            <div class="form-group input-group m-3">
              
                <div class="input-group">
                  

                    <span class="input-group-text">Container</span>

                    <select id="container" class="form-control selectpicker" title="Escolha o Container" data-live-search="true" name="id_container" >

                        
                        {% for c in conteineres %}
                            <option  required value="{{c['id_container']}}"{% if c['id_container'] == c['c'] %}selected="selected"{% endif %}>{{c['numero_container']}}</option>
                        {% endfor %}

                    </select>

                </div>

                </div>
               

                <div class="form-group input-group m-3">

                  
                    <span class="input-group-text">Tipo de Movimentação</span>

                    <select class="form-control selectpicker" title="Tipo de Movimentação	" data-live-search="true" name="tipo" id="tipo">
                        
                        <option value="embarque">embarque</option>
                        <option value="descarga">descarga</option>
                        <option value="gate_in">gate in</option>
                        <option value="gate_out">gate out</option>
                        <option value="reposicionamento">reposicionamento</option>
                        <option value="pesagem">pesagem</option>
                        <option value="scanner">scanner</option>
                    </select>

                </div>
              
                
                <div class="form-group input-group m-3">

                    <div class="input-group-prepend">
                      <span class="input-group-text">Data de ínicio</span>
                    </div>

                    <input id="data_inicio" required="" type="datetime-local" aria-label="data_inicio" class="form-control" name="data_inicio">
                    <div class="input-group-prepend">


                        <span class="input-group-text">Data do Fim</span>
                      </div>

                    <input id="data_fim" required="" type="datetime-local" aria-label="data_fim" class="form-control" name="data_fim">
                  </div>

                  <button type="submit" class="btn btn-secondary ml-3 mt-4" style="width: 200px;">Enviar</button>
                  
            </div>
            
        </form>
        
    </div>



    <script>


      const formulario =  document.querySelector("#formulario");
  
      formulario.onsubmit = evento => {
  
        var container = document.querySelector("#container").value;
          
          if( container === ""){
  
              evento.preventDefault();
              document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Container!</p>";
              return;
  
          }
  
          var tipo = document.querySelector("#tipo").value;
          
          if( tipo === ""){
  
              evento.preventDefault();
              document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Tipo de Movimentação!</p>";
              return;
  
          }
          
          
  
          var data_inicio = document.querySelector("#data_inicio").value;
          
          if( data_inicio === ""){
  
              evento.preventDefault();
              document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Categoria!</p>";
              return;
  
          }

          var data_fim = document.querySelector("#data_fim").value;
          
          if( data_fim === ""){
  
              evento.preventDefault();
              document.getElementById("msgAlert").innerHTML = "<p style='color: #f00;'> Necessário preencher o campo Categoria!</p>";
              return;
  
          }


  
      }
  
  
      
  </script>




    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>